:root {
  --body-backround-color: #f9f9f9;
  --primary-text-color: black;
  --primary-border-color: rgb(28, 28, 28);
  --active-text-color: navy;
  --active-background-color: ghostwhite;
  /* --menu-background-color: #b3b3b3; */
  /* --contacts-background-color: white; */
  /* --primary-text-color: #4d4d4d; */
  /* --contacts-text-color: #666a73; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-backround-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--active-text-color);
}

/* Main header formatting */

.header-top {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  margin: 0 10% 0 10%;
  /* border-bottom: 1px solid black; */
}

.header-top-list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  /* left: 10%; */
  list-style: none;
  padding: 0 10px 0 0;
  /* border-right: 2px solid var(--primary-border-color); */
  /* border-left: 2px solid black; */
}

.name-main {
  font-size: xxx-large;
}

.name-aka {
  font-size: x-large;
}

.header-top-info {
  position: relative;
  /* right: 10%; */
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  z-index: 9;
  background-color: var(--body-backround-color);
  /* padding-bottom: 2rem; */
}

.email-list-item {
  padding-bottom: 2rem;
}

.email-link {
  color: var(--primary-text-color);
}

.email-link:hover {
  color: var(--active-text-color);
}

.download-cv {
  text-decoration: solid;
  font-size: large;
  color: var(--primary-text-color);
  padding: 10px 20px 10px 20px;
  border: 2px solid var(--primary-border-color);
  border-radius: 30px;
}

.download-cv:hover {
  color: var(--active-text-color);
  background-color: var(--active-background-color);
}

.download-cv:active {
  color: var(--active-text-color);
  background-color: var(--active-background-color);
}

/* Navigation bar formatting */
nav {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: x-large;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid var(--primary-border-color);
}

.nav-item,
.nav-item-current {
  color: var(--primary-text-color);
  text-decoration: solid;
  /* padding: 0 15px 0 15px; */
}

.nav-item:hover,
.nav-item-current:hover {
  color: var(--active-text-color);
}

.nav-item:active,
.nav-item-current:active {
  color: (var(--active-text-color));
}

/* .nav-item-current {
  border: 2px solid var(--primary-text-color);
  border-radius: 20px;
  background-color: var(--active-background-color);
} */

.nav-item-current {
  /* border-top: 2px solid var(--primary-border-color); */
  border-bottom: 2px solid var(--primary-border-color);
  background-color: var(--active-background-color);
}

/* .nav-item-current:hover {
  border-bottom: 2px solid var(--active-text-color);
} */

/* Main section formatting */

main {
  margin: 20px 10% 20px 10%;
  font-family: "Open Sans", sans-serif;
}

/* Index page formatting */

.index-aside {
  grid-area: aside;
}

.index-aside picture img {
  max-width: 100%;
}

.index-main-text {
  grid-area: main-text;
}

.index-article {
  max-width: 100%;
  display: grid;
  grid-template: "aside main-text main-text main-text";
  gap: 25px;
}

.index-looking-for-work {
  font-weight: 600;
}

.index-project-list {
  padding-left: 15px;
}

/* Footer formatting */

footer {
  margin: 0 10% 0 10%;
  border-top: 1px solid var(--primary-border-color);
  padding-top: 5px;
  font-size: small;
}
